In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/train_transaction.csv")

In [4]:
len(df)

590540

In [5]:
df.head(5)

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
df2 = pd.read_csv("../data/train_identity.csv")

In [10]:
df2["TransactionID"].value_counts().sort_values()

3153916    1
3377044    1
3567871    1
3205091    1
3469135    1
          ..
3024965    1
3192855    1
3292986    1
3225639    1
3147777    1
Name: TransactionID, Length: 144233, dtype: int64

In [12]:
df.query("TransactionID == 3153916")

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
166916,3153916,0,3556881,50.0,H,3278,453.0,150.0,visa,226.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
df.head(1000).to_csv("../data/train_transaction_head1000.csv", index=False)

In [14]:
df2.head(1000).to_csv("../data/train_identity_head1000.csv", index=False)

In [15]:
df["card1"].value_counts()

7919     14932
9500     14162
15885    10361
17188    10344
15066     7945
         ...
12390        1
10341        1
10006        1
15743        1
17105        1
Name: card1, Length: 13553, dtype: int64

In [16]:
df["card2"].value_counts()

321.0    48935
111.0    45191
555.0    41995
490.0    38145
583.0    21803
         ...
447.0       39
153.0       38
557.0       37
473.0       18
582.0       14
Name: card2, Length: 500, dtype: int64

In [45]:
df.groupby(["card1", "card2", "card3", "card4", "card5", "card6"]).agg({"isFraud": "count"}).sort_values(by="isFraud", ascending=False)

                                           isFraud
card1 card2 card3 card4      card5 card6
9500  321.0 150.0 visa       226.0 debit     14112
15885 545.0 185.0 visa       138.0 debit     10332
17188 321.0 150.0 visa       226.0 debit     10312
7919  194.0 150.0 mastercard 166.0 debit      8844
15066 170.0 150.0 mastercard 102.0 credit     7918
...                                            ...
10076 555.0 150.0 mastercard 182.0 debit         1
10071 555.0 150.0 visa       226.0 debit         1
10068 555.0 160.0 visa       138.0 debit         1
10058 490.0 150.0 mastercard 117.0 debit         1
18396 111.0 150.0 visa       226.0 debit         1

[13691 rows x 1 columns]

# V140〜V170で、同じユーザーを特定できない？