In [37]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 100)

In [41]:
df_all = pd.concat([pd.read_feather("../data/original/train_all.feather"),
                    pd.read_feather("../data/original/test_all.feather")])

/home/owner/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [60]:
df_all["TransactionDay"] = df_all["TransactionDT"] // (24*60*60)
df_all["Identify_ID"] = ""

In [ ]:
for i in range(len(df_all)):
    df_all

In [52]:
df_all[-30:][date_cols]

,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D11,D12,D13,D14,D15
506661,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0
506662,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0.0
506663,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,14.0,NaN,NaN,NaN,14.0
506664,33.0,33.0,2.0,300.0,2.0,NaN,NaN,NaN,NaN,300.0,300.0,NaN,NaN,NaN,300.0
506665,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0
506666,80.0,80.0,29.0,344.0,17.0,NaN,NaN,NaN,NaN,344.0,0.0,NaN,NaN,NaN,344.0
506667,29.0,29.0,0.0,29.0,0.0,NaN,NaN,NaN,NaN,29.0,29.0,NaN,NaN,NaN,0.0
506668,70.0,70.0,5.0,18.0,5.0,NaN,NaN,NaN,NaN,138.0,138.0,NaN,NaN,NaN,138.0
506669,10.0,10.0,10.0,10.0,10.0,NaN,NaN,NaN,NaN,10.0,10.0,NaN,NaN,NaN,103.0
506670,434.0,434.0,11.0,434.0,402.0,434.0,402.0,67.958336,0.958333,0.0,NaN,434.0,0.0,0.0,434.0
506671,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,200.0
506672,270.0,270.0,270.0,0.0,NaN,NaN,NaN,NaN,NaN,270.0,0.0,NaN,NaN,NaN,595.0
506673,494.0,494.0,6.0,318.0,6.0,NaN,NaN,NaN,NaN,494.0,297.0,NaN,NaN,NaN,427.0
506674,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0
506675,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0
506676,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0
506677,80.0,80.0,21.0,233.0,177.0,233.0,177.0,232.958328,0.958333,0.0,NaN,233.0,233.0,0.0,311.0
506678,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0.0
506679,4.0,4.0,4.0,5.0,4.0,5.0,4.0,407.958344,0.958333,0.0,NaN,5.0,5.0,0.0,5.0
506680,32.0,32.0,29.0,32.0,29.0,32.0,29.0,NaN,NaN,0.0,NaN,32.0,0.0,0.0,32.0
506681,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0
506682,29.0,29.0,0.0,29.0,0.0,NaN,NaN,NaN,NaN,29.0,29.0,NaN,NaN,NaN,0.0
506683,620.0,620.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,620.0,546.0,NaN,NaN,NaN,620.0
506684,373.0,373.0,1.0,0.0,NaN,0.0,NaN,373.958344,0.958333,0.0,NaN,0.0,373.0,NaN,1.0
506685,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0
506686,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0
506687,16.0,16.0,16.0,16.0,16.0,16.0,16.0,NaN,NaN,0.0,NaN,16.0,0.0,0.0,16.0
506688,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0.0
506689,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0.0
506690,0.0,NaN,NaN,0.0,NaN,0.0,NaN,29.958332,0.958333,0.0,NaN,0.0,0.0,0.0,0.0

In [22]:
date_cols = ["D{}".format(x) for x in range(1, 15+1)]

In [94]:
np.isnan(df_all.iloc[-1]["D5"])

True

In [109]:
top_idx = len(df_all) - 1
identify_id = 0

w_df = df_all.iloc[top_idx]
df_all.at[w_df.name,"Identify_ID"] = identify_id
w_day = w_df["TransactionDay"]

while True:
    w_df = w_df.fillna(-100)

    is_chain_end = False
    # print(w_df[["D1", "D2", "D3", "D4", "D5"]].isnull().sum())
    if len(w_df) == 0:
        is_chain_end = True
    elif w_df[["D1", "D2", "D3", "D4", "D5"]].isnull().sum() == 5:
        is_chain_end = True
    elif w_df[["D1", "D2", "D3", "D4", "D5"]].std() == 0:
        is_chain_end = True
    elif w_df["Identify_ID"] != "":
        is_chain_end = True
    elif w_df["TransactionDay"] - w_df["D5"] < 0:
        is_chain_end = True
    elif np.isnan(w_df["D5"]):
        is_chain_end = True
    
    if len(w_df) > 0:
        df_all.at[w_df.name,"Identify_ID"] = "ID_{}".format(identify_id)

    if is_chain_end:
        identify_id += 1
        top_idx = top_idx - 1
        w_df = df_all.iloc[top_idx]
        
        if identify_id % 100 == 0:
            print("ID = {} / Identified: {}".format(identify_id, len(df_all.query("Identify_ID != ''"))))
        if top_idx >= len(df_all):
            break
    else:
        query = "TransactionDay >= {}-1 and TransactionDay <= {}+1".format(w_day-w_df["D5"], w_day-w_df["D5"])
        query += " and "
        query += "card1 == '{}' and card2 == '{}' and card3 == '{}'".format(w_df["card1"], w_df["card2"], w_df["card3"])
        query += " and "
        query += "(D10 >= {}-1 and D10 <= {}+1".format(w_df["D10"]-w_df["D5"], w_df["D10"]-w_df["D5"])
        query += " or "
        query += " D11 >= {}-1 and D11 <= {}+1".format(w_df["D11"]-w_df["D5"], w_df["D11"]-w_df["D5"])
        query += " or "
        query += " D15 >= {}-1 and D15 <= {}+1".format(w_df["D15"]-w_df["D5"], w_df["D15"]-w_df["D5"])
        query += ")"
        # print(query)
        w_df = df_all.query(query)

        w_df = w_df.sort_values("D5")

        for i in range(len(w_df)):
            if w_df.iloc[i]["D5"] == 0:
                df_all.at[w_df.iloc[i].name,"Identify_ID"] = "ID_{}".format(identify_id)
            else:
                w_df = w_df.iloc[i]
                break
            if i+1 == len(w_df):
                w_df = w_df.iloc[i]

ID = 100 / Identified: 924
ID = 200 / Identified: 1479
ID = 300 / Identified: 2157
ID = 400 / Identified: 2569
ID = 500 / Identified: 2924
ID = 600 / Identified: 3452
ID = 700 / Identified: 3986
ID = 800 / Identified: 4416
ID = 900 / Identified: 4888
ID = 1000 / Identified: 5292
ID = 1100 / Identified: 5624

KeyboardInterrupt:

In [115]:
top_idx = len(df_all) - 1
identify_id = 0

w_df = df_all.iloc[top_idx]
df_all.at[w_df.name,"Identify_ID"] = identify_id
w_day = w_df["TransactionDay"]

w_df = w_df.fillna(-100)

is_chain_end = False
# print(w_df[["D1", "D2", "D3", "D4", "D5"]].isnull().sum())
if len(w_df) == 0:
    is_chain_end = True
elif w_df[["D1", "D2", "D3", "D4", "D5"]].isnull().sum() == 5:
    is_chain_end = True
elif w_df[["D1", "D2", "D3", "D4", "D5"]].std() == 0:
    is_chain_end = True
elif w_df["Identify_ID"] != "":
    is_chain_end = True
elif w_df["TransactionDay"] - w_df["D5"] < 0:
    is_chain_end = True
elif np.isnan(w_df["D5"]):
    is_chain_end = True

if len(w_df) > 0:
    df_all.at[w_df.name,"Identify_ID"] = "ID_{}".format(identify_id)

if is_chain_end:
    identify_id += 1
    top_idx = top_idx - 1
    w_df = df_all.iloc[top_idx]

    if identify_id % 100 == 0:
        print("ID = {} / Identified: {}".format(identify_id, len(df_all.query("Identify_ID != ''"))))
    if top_idx >= len(df_all):
        print("AA")
else:
    query = "TransactionDay >= {}-1 and TransactionDay <= {}+1".format(w_day-w_df["D5"], w_day-w_df["D5"])
    query += " and "
    query += "card1 == '{}' and card2 == '{}' and card3 == '{}'".format(w_df["card1"], w_df["card2"], w_df["card3"])
    query += " and "
    query += "(D10 >= {}-1 and D10 <= {}+1".format(w_df["D10"]-w_df["D5"], w_df["D10"]-w_df["D5"])
    query += " or "
    query += " D11 >= {}-1 and D11 <= {}+1".format(w_df["D11"]-w_df["D5"], w_df["D11"]-w_df["D5"])
    query += " or "
    query += " D15 >= {}-1 and D15 <= {}+1".format(w_df["D15"]-w_df["D5"], w_df["D15"]-w_df["D5"])
    query += ")"
    # print(query)
    w_df = df_all.query(query)

    w_df = w_df.sort_values("D5")

    for i in range(len(w_df)):
        if w_df.iloc[i]["D5"] == 0:
            df_all.at[w_df.iloc[i].name,"Identify_ID"] = "ID_{}".format(identify_id)
        else:
            w_df = w_df.iloc[i]
            break
        if i+1 == len(w_df):
            w_df = w_df.iloc[i]

In [116]:
w_df

C1                   1
C10                  0
C11                  1
C12                  0
C13                  1
                  ...
id_37             None
id_38             None
isFraud            NaN
TransactionDay     395
Identify_ID       ID_1
Name: 506689, Length: 436, dtype: object